* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
  vertical-align: bottom;
}
ul li {
  list-style: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
body {
  background-color: #fff;
}
.commonText {
  color: white;
  line-height: 1.5;
  font-size: 15px;
}
.commonTitle {
  color: #009ee0;
  font-size: 80px;
  line-height: 0.8;
  font-weight: bold;
  letter-spacing: -5px;
}
#head {
  background-color: #fff;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 999;
  position: relative;
}
#head .head-main {
  width: 1100px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
}
#head .head-main .head-nav {
  width: 450px;
  height: 80px;
  display: flex;
  position: relative;
}
#head .head-main .head-nav .up {
  position: absolute;
  color: #009ee0;
  bottom: 0;
}
#head .head-main .head-nav .down {
  position: absolute;
  bottom: 0;
  width: 0;
  overflow: hidden;
  color: black;
  z-index: 99;
  transition: width 0.5s ease;
}
#head .head-main .head-nav a:hover .down {
  width: 100%;
}
#head .head-main .head-nav li {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}
#head .head-main .head-nav .arrow {
  width: 0px;
  height: 0px;
  border: 11px solid transparent;
  border-top-color: white;
  position: absolute;
  z-index: 9999;
  left: -150px;
  bottom: -31px;
  transition: all 1s ease;
}
#content {
  height: calc(100vh - 80px);
  overflow: hidden;
}
#content > .list {
  height: 100%;
  margin: auto;
  position: relative;
  transition: all 1s ease;
}
#content > .list > li {
  height: 100%;
  position: relative;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
}
#content > .list > li:nth-child(1) {
  background-image: url(src/img/bg1.jpg);
}
#content > .list > li:nth-child(2) {
  background-image: url(src/img/bg2.jpg);
}
#content > .list > li:nth-child(3) {
  background-image: url(src/img/bg3.jpg);
}
#content > .list > li:nth-child(4) {
  background-image: url(src/img/bg4.jpg);
}
#content > .list > li:nth-child(5) {
  background-image: url(src/img/bg5.jpg);
}
#content .content-main {
  height: 520px;
  width: 1100px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#content .right-nav {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 80px;
  bottom: 0;
  margin: auto 0;
  height: 170px;
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
#content .right-nav .active {
  background-color: #fff;
}
#content .right-nav > li {
  width: 20px;
  height: 20px;
  border: 5px solid pink;
  border-radius: 50%;
}
#content .right-nav > li:hover {
  background-color: #fff;
  cursor: pointer;
}
#mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
}
#mask .up {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #60cef0;
  transition: all 1s;
}
#mask .down {
  height: 50%;
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: #60cef0;
  transition: all 1s;
}
#mask .line {
  width: 0;
  position: absolute;
  top: calc(50vh - 2px);
  height: 4px;
  background-color: #fff;
  transition: all 1s;
}
#home .lunbo > .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: 1s;
  display: none;
}
#home .lunbo > .content li {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.5s linear;
  visibility: hidden;
}
#home .lunbo > .content li > .item {
  margin-top: 200px;
  color: white;
  text-align: center;
}
#home .lunbo > .content > li:nth-of-type(1) {
  background-color: orange;
}
#home .lunbo > .content > li:nth-of-type(2) {
  background-color: green;
}
#home .lunbo > .content > li:nth-of-type(3) {
  background-color: black;
}
#home .lunbo > .content > li:nth-of-type(4) {
  background-color: blueviolet;
}
#home .lunbo > .content > li.active {
  visibility: visible;
}
#home .lunbo > .content > li.left-hide {
  visibility: hidden;
  animation: 1s leftHide 1 linear;
}
#home .lunbo > .content > li.right-show {
  visibility: visible;
  animation: 1s rightShow 1 linear;
}
@keyframes leftHide {
  0% {
    visibility: visible;
  }
  50% {
    transform: translateX(-40%) rotateY(30deg) scale(0.8);
  }
  100% {
    transform: translateZ(-200px);
  }
}
@keyframes rightShow {
  0% {
    visibility: hidden;
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(40%) rotateY(-30deg) scale(0.8);
  }
}
#home .lunbo > .content > li.left-show {
  animation: 1s leftShow 1 linear;
}
#home .lunbo > .content > li.right-hide {
  animation: 1s rightHide 1 linear;
}
@keyframes leftShow {
  0% {
    visibility: hidden;
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(-40%) rotateY(30deg) scale(0.8);
  }
}
@keyframes rightHide {
  0% {
    visibility: visible;
  }
  50% {
    transform: translateX(40%) rotateY(-30deg) scale(0.8);
  }
  100% {
    transform: translateZ(-200px);
  }
}
#home .lunbo > .btn {
  width: 150px;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
  transition: 1s;
}
#home .lunbo > .btn li {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 2px 0px rgba(25, 25, 25, 0.8);
  cursor: pointer;
}
#home .lunbo > .btn li.active {
  background-color: #fff;
}
#course {
  display: flex;
}
#course > div {
  flex-grow: 1;
}
#course .left {
  width: 400px;
  height: 400px;
  z-index: 98;
}
#course .left .title {
  margin: 50px;
}
#course .left .text {
  margin-left: 50px;
}
#course .right {
  width: 480px;
  margin-top: 70px;
  margin-right: 50px;
  z-index: 98;
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
#course .right .item {
  position: relative;
  transform-style: preserve-3d;
  perspective: 400px;
}
#course .right .item > div {
  width: 120px;
  height: 132px;
  transition: all 0.8s linear;
}
#course .right .item .back-face {
  background-color: #9e2d2d;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
#course .right .item .face {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(src/img/lbs.png);
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: hidden;
}
#course .right .item:hover .face {
  transform: rotateY(-180deg);
}
#course .right .item:hover .back-face {
  transform: rotateY(0deg);
}
#course .right > .item:nth-of-type(1) .face {
  background-image: url(src/img/hlx.png);
}
#course .right > .item:nth-of-type(2) .face {
  background-image: url(src/img/leonberg.png);
}
#course .right > .item:nth-of-type(3) .face {
  background-image: url(src/img/tata.png);
}
#course .right > .item:nth-of-type(4) .face {
  background-image: url(src/img/binoli.png);
}
#course .right > .item:nth-of-type(5) .face {
  background-image: url(src/img/bks.png);
}
#course .right > .item:nth-of-type(6) .face {
  background-image: url(src/img/lbs.png);
}
#course .right > .item:nth-of-type(7) .face {
  background-image: url(src/img/pcwelt.png);
}
#course .right > .item:nth-of-type(8) .face {
  background-image: url(src/img/tata.png);
}
#course .right > .item:nth-of-type(9) .face {
  background-image: url(src/img/hlx.png);
}
#course .right > .item:nth-of-type(10) .face {
  background-image: url(src/img/leonberg.png);
}
#course .right > .item:nth-of-type(11) .face {
  background-image: url(src/img/binoli.png);
}
#course .right > .item:nth-of-type(12) .face {
  background-image: url(src/img/pcwelt.png);
}
#course .right .line {
  display: block;
  position: absolute;
  width: 9px;
  height: 410px;
  top: -6px;
  background-image: url(src/img/plus_row.png);
}
#course .right .line:nth-of-type(1) {
  left: -4px;
}
#course .right .line:nth-of-type(2) {
  left: calc(-4px + 120px*1);
}
#course .right .line:nth-of-type(3) {
  left: calc(-4px + 120px*2);
}
#course .right .line:nth-of-type(4) {
  left: calc(-4px + 120px*3);
}
#course .right .line:nth-of-type(5) {
  left: calc(-4px + 120px*4);
}
#course .plane1 {
  width: 359px;
  height: 283px;
  background: url(src/img/plane1.png) no-repeat;
  position: absolute;
  left: 300px;
  top: -100px;
  transition: 1s;
}
#course .plane2 {
  width: 309px;
  height: 249px;
  background: url(src/img/plane2.png) no-repeat;
  position: absolute;
  left: -100px;
  top: 200px;
  transition: 1s;
}
#course .plane3 {
  width: 230px;
  height: 182px;
  background: url(src/img/plane3.png) no-repeat;
  position: absolute;
  left: 300px;
  top: 400px;
  transition: 1s;
}
#works .top {
  z-index: 78;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 50px;
}
#works .down {
  z-index: 78;
  margin-left: 50px;
  position: relative;
}
#works .down .recommend {
  display: flex;
  align-content: flex-start;
}
#works .down .recommend .recommend-item {
  margin: 0 2px;
  overflow: hidden;
  position: relative;
}
#works .down .recommend .recommend-item > .mask {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(25, 25, 25, 0.8);
  color: white;
  padding: 15px;
  visibility: hidden;
}
#works .down .recommend .recommend-item > img {
  transition: all 0.8s ease;
}
#works .down .recommend .recommend-item:hover img {
  transform: rotate(20deg) scale(1.4);
}
#works .down .recommend .recommend-item:hover .mask {
  visibility: visible;
}
#works .down .robot {
  width: 167px;
  height: 191px;
  top: -170px;
  left: 870px;
  background-image: url(src/img/robot.png);
  position: absolute;
  animation: robotMove 5s linear infinite;
}
@keyframes robotMove {
  0% {
    left: 870px;
    transform: rotateY(0deg);
  }
  50% {
    left: 330px;
    transform: rotateY(0deg);
  }
  51% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
    left: 870px;
  }
}
#works .pen1 {
  width: 180px;
  height: 97px;
  background: url(src/img/pencel1.png) no-repeat;
  position: absolute;
  transition: 1s;
  left: 500px;
  top: 0;
}
#works .pen2 {
  width: 268px;
  height: 38px;
  background: url(src/img/pencel2.png) no-repeat;
  position: absolute;
  transition: 1s;
  left: 300px;
  top: 250px;
}
#works .pen3 {
  width: 441px;
  height: 231px;
  background: url(src/img/pencel3.png) no-repeat;
  position: absolute;
  transition: 1s;
  left: 650px;
  top: 300px;
}
#about {
  display: flex;
}
#about .left .title {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 50px;
}
#about .left .text {
  width: 400px;
  margin-left: 50px;
}
#about .right {
  position: relative;
}
#about .right .line {
  width: 357px;
  height: 998px;
  display: block;
  position: absolute;
  top: -100px;
  left: 130px;
  background-image: url(src/img/greenLine.png);
}
#about .right .picture-box {
  width: 260px;
  height: 200px;
  box-sizing: content-box;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  position: absolute;
  transition: background-size 1.2s ease;
  background-position: center;
  background-clip: content-box;
  background-size: 150%;
  background-repeat: no-repeat;
  transition: 1s;
}
#about .right .one {
  left: 320px;
  top: 50px;
  position: relative;
  background-image: url(src/img/about2.jpg);
  overflow: hidden;
}
#about .right .one:hover {
  background-size: 101%;
}
#about .right .one > li {
  height: 50%;
  width: 50%;
  position: absolute;
  overflow: hidden;
}
#about .right .one > li img {
  position: absolute;
  transition: all 1.2s ease;
}
#about .right .one > li:nth-of-type(1) {
  top: 0;
  left: 0;
}
#about .right .one > li:nth-of-type(1) img {
  top: 0;
}
#about .right .one > li:nth-of-type(2) {
  top: 0;
  left: 50%;
}
#about .right .one > li:nth-of-type(2) img {
  left: -100%;
}
#about .right .one > li:nth-of-type(3) {
  top: 50%;
  left: 0;
}
#about .right .one > li:nth-of-type(3) img {
  top: -100%;
  left: 0;
}
#about .right .one > li:nth-of-type(4) {
  top: 50%;
  left: 50%;
}
#about .right .one > li:nth-of-type(4) img {
  top: -100%;
  left: -100%;
}
#about .right .one:hover li:nth-of-type(1) > img {
  top: 100%;
}
#about .right .one:hover li:nth-of-type(2) > img {
  left: -200%;
}
#about .right .one:hover li:nth-of-type(3) > img {
  left: 100%;
}
#about .right .one:hover li:nth-of-type(4) > img {
  top: -200%;
}
#about .right .tow {
  left: 170px;
  top: 290px;
  background-image: url(src/img/about4.jpg);
}
#about .right .tow:hover {
  background-size: 101%;
}
#about .right .tow > li {
  height: 50%;
  width: 50%;
  position: absolute;
  overflow: hidden;
}
#about .right .tow > li img {
  position: absolute;
  transition: all 1.2s ease;
}
#about .right .tow > li:nth-of-type(1) {
  top: 0;
  left: 0;
}
#about .right .tow > li:nth-of-type(1) img {
  top: 0;
}
#about .right .tow > li:nth-of-type(2) {
  top: 0;
  left: 50%;
}
#about .right .tow > li:nth-of-type(2) img {
  left: -100%;
}
#about .right .tow > li:nth-of-type(3) {
  top: 50%;
  left: 0;
}
#about .right .tow > li:nth-of-type(3) img {
  top: -100%;
  left: 0;
}
#about .right .tow > li:nth-of-type(4) {
  top: 50%;
  left: 50%;
}
#about .right .tow > li:nth-of-type(4) img {
  top: -100%;
  left: -100%;
}
#about .right .tow:hover li:nth-of-type(1) > img {
  top: 100%;
}
#about .right .tow:hover li:nth-of-type(2) > img {
  left: -200%;
}
#about .right .tow:hover li:nth-of-type(3) > img {
  left: 100%;
}
#about .right .tow:hover li:nth-of-type(4) > img {
  top: -200%;
}
#team .top {
  display: flex;
  justify-content: space-between;
}
#team .top .title {
  margin: 50px;
  transition: 1s;
}
#team .top .text {
  margin: 50px;
  width: 400px;
  transition: 1s;
}
#team .bottom {
  position: relative;
}
#team .bottom .teammate {
  width: 944px;
  height: 448px;
  margin: 0 auto;
}
#team .bottom .teammate ul {
  width: 944px;
  height: 448px;
  display: flex;
  position: relative;
}
#team .bottom .teammate ul > li {
  flex-grow: 1;
  background-image: url(src/img/team.png);
  transition: all 0.3s linear;
}
#team .bottom .teammate ul > li:nth-of-type(2) {
  background-position-x: -118px;
}
#team .bottom .teammate ul > li:nth-of-type(3) {
  background-position-x: -236px;
}
#team .bottom .teammate ul > li:nth-of-type(4) {
  background-position-x: -354px;
}
#team .bottom .teammate ul > li:nth-of-type(5) {
  background-position-x: -472px;
}
#team .bottom .teammate ul > li:nth-of-type(6) {
  background-position-x: -590px;
}
#team .bottom .teammate ul > li:nth-of-type(7) {
  background-position-x: -708px;
}
#team .bottom .teammate ul > li:nth-of-type(8) {
  background-position-x: -826px;
}
#team .bottom .teammate ul > li:nth-of-type(9) {
  background-position-x: -944px;
}
#team .bottom #my-canvas {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

